<launch>

    <param name="use_sim_time" value="true"/>
    
    <node pkg="rosbag" type="play" name="scans_demo" output="screen" args="--clock --loop $(find velodyne_filter)/resources/parking.bag"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_velodyne" output="screen" args="0.3 0 1 0 0 0 map velodyne 20"/>

    <node pkg="velodyne_filter" type="velodyne_cluster" name="velodyne_cluster_node" output="screen">
        <param name="x_axis_min" value="-0.0"/>
        <param name="x_axis_max" value="8.0"/>
        <param name="y_axis_min" value="-6.0"/>
        <param name="y_axis_max" value="0.0"/>
        <param name="z_axis_min" value="-10.0"/>
        <param name="z_axis_max" value="5.0"/>

        <param name="z_axis_angle_" value="0.0"/>
    </node>

    <node pkg="velodyne_filter" type="velodyne_dynamic" name="velodyne_dynamic_node" output="screen">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find velodyne_filter)/resources/cluster.rviz"/>

</launch>
